<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/profile/editDescription}" method="POST">
                <fieldset>
                    <legend>Edit Description</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Description</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="article_content" name="description" th:text="${user.description}"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/profile}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
