<main>
    <div class="container body-content">
        <div class="row">
            <h4>Users:</h4>

            <div class="col-md-12" th:each="user : ${names}">
                <header>
                    <h6>
                        <a th:href="@{/profile/{id}(id=${user.id})}"
                           th:text="${user.fullName}">
                        </a>
                    </h6>
                </header>
            </div>
            <div class="pull-right">
                <div class="col-sm-4 col-sm-offset-4">
                    <a class="btn btn-default" th:href="@{/article/{id}(id = ${article.id})}">Back</a>
                </div>
            </div>
        </div>
    </div>
</main>