<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2 th:text="${message.title}"></h2>
                    </header>

                    <p th:text="${message.content}"></p>
                    <p th:text="'Sent to:' +   ${message.receive.fullName}"></p>
                </article>

                <div class="form-group pull-right">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" th:href="@{/sent/{id}(id = ${message.author.id})}">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>